@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: linear-gradient(180deg, transparent, #F6F6Fd);
  font-size: 18px;
}

header, div.top-flex-wrapper {
  /* background-color: white; */
}

header > h1 {
  font-family: 'Plus Jakarta Sans', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
  font-weight: 800;
}

header > button {
  border: none;
  color: white;
}

picture {
  /* background-color: white; */
  max-width: 100%;
  margin: 0 auto;
  /* z-index: -2; */
}

/* course descriptions section */
section.course-descriptions {
  display: grid;
  gap: 1rem;
}

/* section - first part */
button.call-to-action {
  background-image: linear-gradient(0deg, #F02AA6, #FF6F48);
  color: white;
}

section.pink-box {
  background-image: linear-gradient(0deg, #F02AA6, #FF6F48);
  color: white;
  border-radius: 1rem;
  max-width: 18ch;
}

/* articles for courses */
article {
  margin-top: 2rem;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

article > h3 {
  margin-top: 30px;
  color: #13183F;
  font-size: 1.5rem;
  font-weight: 700;
}

article > p {
  padding: 1rem 0;
  max-width: 30ch;
  color: #83869A;
}

article > img.icon-pic {
  position: absolute;
  top: -25px;
  left: 20px;
}

article > a {
  color:#F02AA6;
  font-weight: 700;
}

/***
 media queries - tablet and desktop
 ***/
@media screen and (min-width: 768px) {
  div.top-flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  picture {
    position: relative;
    top: -100px;
    right: -80px;
  }

  header {
    padding-right: 70px;
  }

  section.course-descriptions {
    grid-template-columns: 1fr 1fr;
  }

  section.pink-box {
    width: 100%;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  picture {
    position: relative;
    top: -120px;
    right: -70px;
  }

  header {
    padding-right: 120px;
  }

  section.course-descriptions {
    grid-template-columns: repeat(3, 1fr);
  }
}